.DS_Store
.DS_Store?
*.o
.tar
.gz
.zip
*.pyc
*.so

# Spice Kernels
*.bsp
*.bpc
*.ek
*.tpc
*.tsc
*.tf
*.tls

# Cspice
cspice/

# Test meta kernels
spiceypy/tests/*.txt

# Pycharm specific things
.idea/

# python things
*.egg-info*
