# include patches
include *.patch
# include getspice
include get_spice.py

# Misc
include LICENSE
include requirements.txt
include README.rst

# spiceypy
include src/spiceypy/*.py
include src/spiceypy/utils/*.py
exclude src/spiceypy/__pycache__/*.pyc
exclude src/spiceypy/utils/__pycache__/*.pyc
exclude src/spiceypy/tests/__pycache__/*.pyc

# exclude cspice source
exclude cspice

# Docs
include docs/conf.py
include docs/*.rst
include docs/make.bat
include docs/Makefile

# Windows Support
include cspice.def
include makeDynamicSpice.bat

# Tests
include src/spiceypy/tests/__init__.py
include src/spiceypy/tests/test_*.py
include src/spiceypy/tests/gettestkernels.py
exclude src/spiceypy/tests/exampleKernels.txt
