[build-system]
requires = ["setuptools >= 76.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
# use build instead of pip to build wheels
build-frontend = "build"
# build libcspice inside cibuildwheel before running python build steps
before-build = "python {project}/get_spice.py"
# Only build on CPython 3.13
build = "cp313-*"
# Skip 32-bit builds, pypy, and musllinux
skip = ["*-win32", "*-manylinux_i686", "*-musllinux_i686", "pypy*", "pp*", "*-musllinux_aarch64", "*-musllinux_x86_64"]
# other options
build-verbosity = 2
before-test = [
    "pip install -r ci-requirements.txt"
]
test-command = [
    "coverage run --source {package} -m pytest --pyargs {project}",
]
